@font-face { font-family: BodyLightFont; src: url('Fonts/BPmonoStencil.ttf')}
@font-face { font-family: SubheaderFont; src: url('Fonts/BPmonoBold.ttf')}
@font-face { font-family: BodyFont; src: url('Fonts/BPmono.ttf')}
@font-face { font-family: HeaderFont; src: url('Fonts/OpenSans-Bold.ttf')}

:root{
    --backgroundColor:#2e2e2e;
    --textColor: white;
    --linkColor: #b7ffb0;
    --headerColor: #4faaff;
}

body{
  margin: 0;
  padding: 0;
  background-color: var(--backgroundColor);
}

/* Hide scroll wheel */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

/* ====== HEADER ====== */
.header{
  background-color: var(--backgroundColor);
  padding: 30px 7vw 20px 7vw;
  margin: 0;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.header a{
  text-decoration: none;
  color: var(--textColor);
}

/* Header > Name */
.name{
  text-align: left;
  padding-top: 10px;
  margin-bottom: 4px;
}

.name h1{
  letter-spacing: .45vw;
  font-family: HeaderFont;
  font-weight: normal;
  font-size: clamp(28px, 4vw, 48px);
  color: var(--headerColor);
  margin: 0;
}

.name h3{
  letter-spacing: .4vw;
  font-size: clamp(11px, 1.2vw, 16px);
  font-family: SubheaderFont;
  color: white;
  margin: 0;
}
